<div id="layout">
    <h1 class="title1">Game 2048</h1>
    <div class="status">Score: {{scroe}} --- Record: {{record}}</div>
    <div class="playground">
        <canvas id="canvas" class="canvas-el"></canvas>
    </div>
</div>

